POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...

PGADMIN_DEFAULT_EMAIL=...
PGADMIN_DEFAULT_PASSWORD=...

WILDFLY_ADMIN_USER=...
WILDFLY_ADMIN_PASSWORD=...

APP_ADMIN_EMAIL=...
APP_ADMIN_PASSWORD=...